@font-face {
  font-family: 'proximaNova';
  src: url('../../../../dist/assets/font/PBlack.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'proximaNova';
  src: url('../../../../dist/assets/font/PBold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'proximaNova';
  src: url('../../../../dist/assets/font/PSemibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'proximaNova';
  src: url('../../../../dist/assets/font/PRegular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'proximaNova';
  src: url('../../../../dist/assets/font/PRegularItalic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'proximaNova';
  src: url('../../../../dist/assets/font/PLight.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'proximaNova';
  src: url('../../../../dist/assets/font/PLightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

