.config__term__item--jante {
  width: 100%;
  text-align: center;
  margin-bottom: 65px;

  .config__term__item__icone {
    width: 30%;
  }

  .config__term__item__title {
    margin-bottom: em(26);
  }


}