.loader {
  position: fixed;
  width: 65%;
  height: 80vh;
  background: white;
  @include flex();
  z-index: 10;
  opacity: 1;
  transition: all ease 0.1s;
}

.loader__content{
  background-color:#fff;
  width:30%;
  height:30%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}

.loader--unactive {
  display: none;
  transition: all ease 0.1s;
}