.config {
  margin-top: em(100);
}

.config__nav {
  width: 330px;
  height: auto;
  position: absolute;
  right: 0;
  top: em(0);
  padding-top: 65px;

  @include medium {
    position: relative;
    width: 100%;
    margin-top: -15%;
  }
}

.config__nav__histo {
  right: 0;
  top: 0em;
  width: 330px;
  position: absolute;
  background: $white;
  padding: 20px 0;
  height: auto;
  z-index: 10;
}

.config__nav__histo__arrow {
  width: em(18);
  height: auto;
  cursor: pointer;
  opacity: 0.5;
  position: relative;
  z-index: 10;
}

.config__nav__histo__arrow--active {
  opacity: 1;
}

.config__nav__histo__arrow--next {
  margin-left: em(15);
}

.config__nav__item {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: em(10);
}

.config__nav__item__bg {
  width: 100%;
  height: auto;
}

.config__nav__item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 100%;
  color: white;
  font-weight: $bold;
  font-size: em(24);
  text-decoration: none;
  transition: all $transition-bezier1 0.3s;
  text-transform: uppercase;
  padding: 0 10px;
  @include flex();
  &:hover {
    opacity: 0.7;
    transition: all $transition-bezier1 0.3s;
  }
}



.config__nav__item__sub__item {
  display: block;
  text-decoration: none;
  margin-bottom: em(15);
  font-size: em(18);
  color: $blue;
}

.config__nav__sub {
  display: none;
  transform: translateX(100vw);
  transition: all $transition-bezier1 0.3s;
}
.config__nav__sub--active {
  display: block;
  padding-top: em(100);
  position: fixed;
  top: 40px;
  right: 0;
  height: 100vh;
  z-index: 2;
  background: white;
  transition: all $transition-bezier1 0.3s;
}

.config__nav__sub__returns {
  width: 30px;
  height: auto;
  cursor: pointer;
  display: none;
}

.config__term {
  display: none;
  transform: translateX(100vw);
  transition: all $transition-bezier1 0.3s;
}
.config__term--active {
  display: block;
  padding-top: em(30);
  position: fixed;
  top: 25px;
  right: 0;
  width: 330px;
  height: 100vh;
  z-index: 3;
  background: white;
  transition: all $transition-bezier1 0.3s;
  overflow: scroll;
  padding-bottom: 10%;
  @include medium {
    min-height: 150vh;
    height: auto;
    position: absolute;
    width: 100%;
  }
}


.config__term__returns {
  width: 30px;
  height: auto;
  cursor: pointer;
}


.config__price {
  width: 100%;
}
