.config__pop {
  display: none;
  width: 60%;
  height: 80vh;
  background: white;
  position: fixed;
  top: 10vh;
  left: 15%;
  z-index: 150;
}

.config__pop--active {
  display: block;
}

.config__opacity--active{
  &::after {
    z-index: 100;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    opacity: 0.7;
  }
}