body {
  font-family: $font;
  width: 100%;
  overflow-x: hidden;
}

.body--devis {
  height: 100vh;
  overflow: hidden;

  @include medium {
    overflow: visible;
    height: 100vh;
  }
}

html {
  overflow-x: hidden;
}