//center 

$center: 117px;
$centerTab: 30px;
$fullWidth: 234px;

@mixin fullWidth () {
  width: calc(100% + 234px);
  margin-left: - $center;
}


@mixin fullWidthContainer () {
  width: calc(120% + 234px);
  margin-left: calc(-10% - 117px);
}

$small: 768px;
$medium: 1024px;

@mixin medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$large}) {
    @content;
  }
}