/*
* font config  
*/

/* [font family] */
$font: 'proximaNova', sans-serif;

/* [font family] */
$size-courant: 12px;
$size-h4: 16px;
$size-h3: 20px;
$size-h2: 25px;
$size-h1: 30px;
$size-big: 40px;

/* [font family] */
$light:       300;
$regular:     400;
$semi-bold:   600;
$bold:        700;
$heavy:       800;