.title {
  text-align: center;
}

.title__up {
  font-size: em(16);
  font-weight: $semi-bold;
  color: $blue;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title__main {
  font-size: em(28);
  font-weight: $bold;
  color: $black;
}